{% extends 'dictionary/base.html' %}
{% load i18n %}
{% load gtranslate %}
{% block tango %}
<div>
    <div class="header">
        <h1 class="header1">{% trans 'tango' %}</h1><br>
        <h2 class="header2">{% trans 'ogen_pe' %}</h2>
    </div>

    <div class="top-setsumei">
        <p style="line-height: 1; font-size: 32px">{% trans 'ta_gen_setsu1' %}</p>
        <li style="font-size: 22px">{% trans 'ta_gen_setsu2' %}</li>
        <li style="font-size: 22px">{% trans 'ta_gen_setsu3' %}</li>
        <li style="font-size: 22px">{% trans 'ta_gen_setsu4' %}</li>
    </div>

     <div class="setsumei-list">
         <div style="text-align: center">
            <p class="header-list" style="font-size: 32px">{% trans 'kano_gengo' %}</p>
         </div>
        <ul>
            <li class="gengo-list">{% trans 'gen1' %}</li>
            <li class="gengo-list">{% trans 'gen2' %}</li>
            <li class="gengo-list">{% trans 'gen3' %}</li>
            <li class="gengo-list">{% trans 'gen4' %}</li>
            <li class="gengo-list">{% trans 'gen5' %}</li>
            <li class="gengo-list">{% trans 'gen6' %}</li>
            <li class="gengo-list">{% trans 'gen7' %}</li>
            <li class="gengo-list">{% trans 'gen8' %}</li>
            <li class="gengo-list">{% trans 'gen9' %}</li>
            <li class="gengo-list">{% trans 'gen10' %}</li>
            <li class="gengo-list">{% trans 'gen11' %}</li>
            <li class="gengo-list">{% trans 'gen12' %}</li>
            <li class="gengo-list">{% trans 'gen13' %}</li>
            <li class="gengo-list">{% trans 'gen14' %}</li>
            <li class="gengo-list">{% trans 'gen15' %}</li>
            <li class="gengo-list">{% trans 'gen16' %}</li>
            <li class="gengo-list">{% trans 'gen17' %}</li>
            <li class="gengo-list">{% trans 'gen18' %}</li>
            <li class="gengo-list">{% trans 'gen19' %}</li>
            <li class="gengo-list">{% trans 'gen20' %}</li>
            <li class="gengo-list">{% trans 'gen21' %}</li>
            <li class="gengo-list">{% trans 'gen22' %}</li>
            <li class="gengo-list">{% trans 'gen23' %}</li>
            <li class="gengo-list">{% trans 'gen24' %}</li>
            <li class="gengo-list">{% trans 'gen25' %}</li>
            <li class="gengo-list">{% trans 'gen26' %}</li>
            <li class="gengo-list">{% trans 'gen27' %}</li>
            <li class="gengo-list">{% trans 'gen28' %}</li>
            <li class="gengo-list">{% trans 'gen29' %}</li>
            <li class="gengo-list">{% trans 'gen30' %}</li>
            <li class="gengo-list">{% trans 'gen31' %}</li>
            <li class="gengo-list">{% trans 'gen32' %}</li>
            <li class="gengo-list">{% trans 'gen33' %}</li>
            <li class="gengo-list">{% trans 'gen34' %}</li>
            <li class="gengo-list">{% trans 'gen35' %}</li>
            <li class="gengo-list">{% trans 'gen36' %}</li>
            <li class="gengo-list">{% trans 'gen37' %}</li>
            <li class="gengo-list">{% trans 'gen38' %}</li>
            <li class="gengo-list">{% trans 'gen39' %}</li>
            <li class="gengo-list">{% trans 'gen40' %}</li>
            <li class="gengo-list">{% trans 'gen41' %}</li>
            <li class="gengo-list">{% trans 'gen42' %}</li>
            <li class="gengo-list">{% trans 'gen43' %}</li>
            <li class="gengo-list">{% trans 'gen44' %}</li>
            <li class="gengo-list">{% trans 'gen45' %}</li>
            <li class="gengo-list">{% trans 'gen46' %}</li>
            <li class="gengo-list">{% trans 'gen47' %}</li>
            <li class="gengo-list">{% trans 'gen48' %}</li>
            <li class="gengo-list">{% trans 'gen49' %}</li>
            <li class="gengo-list">{% trans 'gen50' %}</li>
            <li class="gengo-list">{% trans 'gen51' %}</li>
            <li class="gengo-list">{% trans 'gen52' %}</li>
            <li class="gengo-list">{% trans 'gen53' %}</li>
            <li class="gengo-list">{% trans 'gen54' %}</li>
            <li class="gengo-list">{% trans 'gen55' %}</li>
            <li class="gengo-list">{% trans 'gen56' %}</li>
            <li class="gengo-list">{% trans 'gen57' %}</li>
            <li class="gengo-list">{% trans 'gen58' %}</li>
            <li class="gengo-list">{% trans 'gen59' %}</li>
            <li class="gengo-list">{% trans 'gen60' %}</li>
            <li class="gengo-list">{% trans 'gen61' %}</li>
            <li class="gengo-list">{% trans 'gen62' %}</li>
            <li class="gengo-list">{% trans 'gen63' %}</li>
            <li class="gengo-list">{% trans 'gen64' %}</li>
            <li class="gengo-list">{% trans 'gen65' %}</li>
            <li class="gengo-list">{% trans 'gen66' %}</li>
            <li class="gengo-list">{% trans 'gen67' %}</li>
            <li class="gengo-list">{% trans 'gen68' %}</li>
            <li class="gengo-list">{% trans 'gen69' %}</li>
            <li class="gengo-list">{% trans 'gen70' %}</li>
            <li class="gengo-list">{% trans 'gen71' %}</li>
            <li class="gengo-list">{% trans 'gen72' %}</li>
            <li class="gengo-list">{% trans 'gen73' %}</li>
            <li class="gengo-list">{% trans 'gen74' %}</li>
            <li class="gengo-list">{% trans 'gen75' %}</li>
            <li class="gengo-list">{% trans 'gen76' %}</li>
            <li class="gengo-list">{% trans 'gen77' %}</li>
            <li class="gengo-list">{% trans 'gen78' %}</li>
            <li class="gengo-list">{% trans 'gen79' %}</li>
            <li class="gengo-list">{% trans 'gen80' %}</li>
            <li class="gengo-list">{% trans 'gen81' %}</li>
            <li class="gengo-list">{% trans 'gen82' %}</li>
            <li class="gengo-list">{% trans 'gen83' %}</li>
            <li class="gengo-list">{% trans 'gen84' %}</li>
            <li class="gengo-list">{% trans 'gen85' %}</li>
            <li class="gengo-list">{% trans 'gen86' %}</li>
            <li class="gengo-list">{% trans 'gen87' %}</li>
            <li class="gengo-list">{% trans 'gen88' %}</li>
            <li class="gengo-list">{% trans 'gen89' %}</li>
            <li class="gengo-list">{% trans 'gen90' %}</li>
            <li class="gengo-list">{% trans 'gen91' %}</li>
            <li class="gengo-list">{% trans 'gen92' %}</li>
            <li class="gengo-list">{% trans 'gen93' %}</li>
            <li class="gengo-list">{% trans 'gen94' %}</li>
            <li class="gengo-list">{% trans 'gen95' %}</li>
            <li class="gengo-list">{% trans 'gen96' %}</li>
            <li class="gengo-list">{% trans 'gen97' %}</li>
            <li class="gengo-list">{% trans 'gen98' %}</li>
            <li class="gengo-list">{% trans 'gen99' %}</li>
            <li class="gengo-list">{% trans 'gen100' %}</li>
            <li class="gengo-list">{% trans 'gen101' %}</li>
            <li class="gengo-list">{% trans 'gen102' %}</li>
            <li class="gengo-list">{% trans 'gen103' %}</li>
            <li class="gengo-list">{% trans 'gen104' %}</li>
            <li class="gengo-list">{% trans 'gen105' %}</li>
        </ul>
    </div>

    <div>
        <form method="get">
            <div class="word-input">
                <input style="width: 700px;" type="text" name="text" placeholder="{% trans 'tan_nyu' %}">
                <button type="submit" class="btn"><span>{% trans 'tan_btn' %}</span></button>
            </div>

            <div class="selector">
                <details>
                    <summary>
                        <input type="radio" name="lang" id="default" title="{% trans 'bun_check' %}" checked>
                        <input type="radio" name="lang" id="item46" title="{% trans 'gen46' %}" value="ja">
                        <input type="radio" name="lang" id="item22" title="{% trans 'gen22' %}" value="en">
                        <input type="radio" name="lang" id="item77" title="{% trans 'gen77' %}" value="ru">
                        <input type="radio" name="lang" id="item1" title="{% trans 'gen1' %}" value="af">
                        <input type="radio" name="lang" id="item2" title="{% trans 'gen2' %}" value="sq">
                        <input type="radio" name="lang" id="item3" title="{% trans 'gen3' %}" value="am">
                        <input type="radio" name="lang" id="item4" title="{% trans 'gen4' %}" value="ar">
                        <input type="radio" name="lang" id="item5" title="{% trans 'gen5' %}" value="hy">
                        <input type="radio" name="lang" id="item6" title="{% trans 'gen6' %}" value="az">
                        <input type="radio" name="lang" id="item7" title="{% trans 'gen7' %}" value="eu">
                        <input type="radio" name="lang" id="item8" title="{% trans 'gen8' %}" value="be">
                        <input type="radio" name="lang" id="item9" title="{% trans 'gen9' %}" value="bn">
                        <input type="radio" name="lang" id="item10" title="{% trans 'gen10' %}" value="bs">
                        <input type="radio" name="lang" id="item11" title="{% trans 'gen11' %}" value="bg">
                        <input type="radio" name="lang" id="item12" title="{% trans 'gen12' %}" value="ca">
                        <input type="radio" name="lang" id="item13" title="{% trans 'gen13' %}" value="ceb">
                        <input type="radio" name="lang" id="item14" title="{% trans 'gen14' %}" value="ny">
                        <input type="radio" name="lang" id="item15" title="{% trans 'gen15' %}" value="zh-cn">
                        <input type="radio" name="lang" id="item16" title="{% trans 'gen16' %}" value="zh-tw">
                        <input type="radio" name="lang" id="item17" title="{% trans 'gen17' %}" value="co">
                        <input type="radio" name="lang" id="item18" title="{% trans 'gen18' %}" value="hr">
                        <input type="radio" name="lang" id="item19" title="{% trans 'gen19' %}" value="cs">
                        <input type="radio" name="lang" id="item20" title="{% trans 'gen20' %}" value="da">
                        <input type="radio" name="lang" id="item21" title="{% trans 'gen21' %}" value="nl">
                        <input type="radio" name="lang" id="item23" title="{% trans 'gen23' %}" value="eo">
                        <input type="radio" name="lang" id="item24" title="{% trans 'gen24' %}" value="et">
                        <input type="radio" name="lang" id="item25" title="{% trans 'gen25' %}" value="tl">
                        <input type="radio" name="lang" id="item26" title="{% trans 'gen26' %}" value="fi">
                        <input type="radio" name="lang" id="item27" title="{% trans 'gen27' %}" value="fr">
                        <input type="radio" name="lang" id="item28" title="{% trans 'gen28' %}" value="fy">
                        <input type="radio" name="lang" id="item29" title="{% trans 'gen29' %}" value="gl">
                        <input type="radio" name="lang" id="item30" title="{% trans 'gen30' %}" value="ka">
                        <input type="radio" name="lang" id="item31" title="{% trans 'gen31' %}" value="de">
                        <input type="radio" name="lang" id="item32" title="{% trans 'gen32' %}" value="el">
                        <input type="radio" name="lang" id="item33" title="{% trans 'gen33' %}" value="gu">
                        <input type="radio" name="lang" id="item34" title="{% trans 'gen34' %}" value="ht">
                        <input type="radio" name="lang" id="item35" title="{% trans 'gen35' %}" value="ha">
                        <input type="radio" name="lang" id="item36" title="{% trans 'gen36' %}" value="haw">
                        <input type="radio" name="lang" id="item37" title="{% trans 'gen37' %}" value="iw">
                        <input type="radio" name="lang" id="item38" title="{% trans 'gen38' %}" value="hi">
                        <input type="radio" name="lang" id="item39" title="{% trans 'gen39' %}" value="hmn">
                        <input type="radio" name="lang" id="item40" title="{% trans 'gen40' %}" value="hu">
                        <input type="radio" name="lang" id="item41" title="{% trans 'gen41' %}" value="is">
                        <input type="radio" name="lang" id="item42" title="{% trans 'gen42' %}" value="ig">
                        <input type="radio" name="lang" id="item43" title="{% trans 'gen43' %}" value="id">
                        <input type="radio" name="lang" id="item44" title="{% trans 'gen44' %}" value="ga">
                        <input type="radio" name="lang" id="item45" title="{% trans 'gen45' %}" value="it">
                        <input type="radio" name="lang" id="item47" title="{% trans 'gen47' %}" value="jw">
                        <input type="radio" name="lang" id="item48" title="{% trans 'gen48' %}" value="kn">
                        <input type="radio" name="lang" id="item49" title="{% trans 'gen49' %}" value="kk">
                        <input type="radio" name="lang" id="item50" title="{% trans 'gen50' %}" value="km">
                        <input type="radio" name="lang" id="item51" title="{% trans 'gen51' %}" value="ko">
                        <input type="radio" name="lang" id="item52" title="{% trans 'gen52' %}" value="ku">
                        <input type="radio" name="lang" id="item53" title="{% trans 'gen53' %}" value="ky">
                        <input type="radio" name="lang" id="item54" title="{% trans 'gen54' %}" value="lo">
                        <input type="radio" name="lang" id="item55" title="{% trans 'gen55' %}" value="la">
                        <input type="radio" name="lang" id="item56" title="{% trans 'gen56' %}" value="lv">
                        <input type="radio" name="lang" id="item57" title="{% trans 'gen57' %}" value="lt">
                        <input type="radio" name="lang" id="item58" title="{% trans 'gen58' %}" value="lb">
                        <input type="radio" name="lang" id="item59" title="{% trans 'gen59' %}" value="mk">
                        <input type="radio" name="lang" id="item60" title="{% trans 'gen60' %}" value="mg">
                        <input type="radio" name="lang" id="item61" title="{% trans 'gen61' %}" value="ms">
                        <input type="radio" name="lang" id="item62" title="{% trans 'gen62' %}" value="ml">
                        <input type="radio" name="lang" id="item63" title="{% trans 'gen63' %}" value="mt">
                        <input type="radio" name="lang" id="item64" title="{% trans 'gen64' %}" value="mi">
                        <input type="radio" name="lang" id="item65" title="{% trans 'gen65' %}" value="mr">
                        <input type="radio" name="lang" id="item66" title="{% trans 'gen66' %}" value="mn">
                        <input type="radio" name="lang" id="item67" title="{% trans 'gen67' %}" value="my">
                        <input type="radio" name="lang" id="item68" title="{% trans 'gen68' %}" value="ne">
                        <input type="radio" name="lang" id="item69" title="{% trans 'gen69' %}" value="no">
                        <input type="radio" name="lang" id="item70" title="{% trans 'gen70' %}" value="or">
                        <input type="radio" name="lang" id="item71" title="{% trans 'gen71' %}" value="ps">
                        <input type="radio" name="lang" id="item72" title="{% trans 'gen72' %}" value="fa">
                        <input type="radio" name="lang" id="item73" title="{% trans 'gen73' %}" value="pl">
                        <input type="radio" name="lang" id="item74" title="{% trans 'gen74' %}" value="pt">
                        <input type="radio" name="lang" id="item75" title="{% trans 'gen75' %}" value="pa">
                        <input type="radio" name="lang" id="item76" title="{% trans 'gen76' %}" value="ro">
                        <input type="radio" name="lang" id="item78" title="{% trans 'gen78' %}" value="sm">
                        <input type="radio" name="lang" id="item79" title="{% trans 'gen79' %}" value="gd">
                        <input type="radio" name="lang" id="item80" title="{% trans 'gen80' %}" value="sr">
                        <input type="radio" name="lang" id="item81" title="{% trans 'gen81' %}" value="st">
                        <input type="radio" name="lang" id="item82" title="{% trans 'gen82' %}" value="sn">
                        <input type="radio" name="lang" id="item83" title="{% trans 'gen83' %}" value="sd">
                        <input type="radio" name="lang" id="item84" title="{% trans 'gen84' %}" value="si">
                        <input type="radio" name="lang" id="item85" title="{% trans 'gen85' %}" value="sk">
                        <input type="radio" name="lang" id="item86" title="{% trans 'gen86' %}" value="sl">
                        <input type="radio" name="lang" id="item87" title="{% trans 'gen87' %}" value="so">
                        <input type="radio" name="lang" id="item88" title="{% trans 'gen88' %}" value="es">
                        <input type="radio" name="lang" id="item89" title="{% trans 'gen89' %}" value="su">
                        <input type="radio" name="lang" id="item90" title="{% trans 'gen90' %}" value="sw">
                        <input type="radio" name="lang" id="item91" title="{% trans 'gen91' %}" value="sv">
                        <input type="radio" name="lang" id="item92" title="{% trans 'gen92' %}" value="tg">
                        <input type="radio" name="lang" id="item93" title="{% trans 'gen93' %}" value="ta">
                        <input type="radio" name="lang" id="item94" title="{% trans 'gen94' %}" value="te">
                        <input type="radio" name="lang" id="item95" title="{% trans 'gen95' %}" value="th">
                        <input type="radio" name="lang" id="item96" title="{% trans 'gen96' %}" value="tr">
                        <input type="radio" name="lang" id="item97" title="{% trans 'gen97' %}" value="uk">
                        <input type="radio" name="lang" id="item98" title="{% trans 'gen98' %}" value="ur">
                        <input type="radio" name="lang" id="item99" title="{% trans 'gen99' %}" value="ug">
                        <input type="radio" name="lang" id="item100" title="{% trans 'gen100' %}" value="uz">
                        <input type="radio" name="lang" id="item101" title="{% trans 'gen101' %}" value="vi">
                        <input type="radio" name="lang" id="item102" title="{% trans 'gen102' %}" value="cy">
                        <input type="radio" name="lang" id="item103" title="{% trans 'gen103' %}" value="xh">
                        <input type="radio" name="lang" id="item104" title="{% trans 'gen104' %}" value="yi">
                        <input type="radio" name="lang" id="item105" title="{% trans 'gen105' %}" value="yo">
                    </summary>
                    <ul class="ul-selector">
                        <li class="li-selector">
                            <label for="item46">{% trans 'gen46' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item22">{% trans 'gen22' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item77">{% trans 'gen77' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item1">{% trans 'gen1' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item2">{% trans 'gen2' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item3">{% trans 'gen3' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item4">{% trans 'gen4' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item5">{% trans 'gen5' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item6">{% trans 'gen6' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item7">{% trans 'gen7' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item8">{% trans 'gen8' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item9">{% trans 'gen9' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item10">{% trans 'gen10' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item11">{% trans 'gen11' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item12">{% trans 'gen12' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item13">{% trans 'gen13' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item14">{% trans 'gen14' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item15">{% trans 'gen15' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item16">{% trans 'gen16' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item17">{% trans 'gen17' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item18">{% trans 'gen18' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item19">{% trans 'gen19' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item20">{% trans 'gen20' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item21">{% trans 'gen21' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item23">{% trans 'gen23' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item24">{% trans 'gen24' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item25">{% trans 'gen25' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item26">{% trans 'gen26' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item27">{% trans 'gen27' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item28">{% trans 'gen28' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item29">{% trans 'gen29' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item30">{% trans 'gen30' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item31">{% trans 'gen31' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item32">{% trans 'gen32' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item33">{% trans 'gen33' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item34">{% trans 'gen34' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item35">{% trans 'gen35' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item36">{% trans 'gen36' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item37">{% trans 'gen37' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item38">{% trans 'gen38' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item39">{% trans 'gen39' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item40">{% trans 'gen40' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item41">{% trans 'gen41' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item42">{% trans 'gen42' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item43">{% trans 'gen43' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item44">{% trans 'gen44' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item45">{% trans 'gen45' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item47">{% trans 'gen47' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item48">{% trans 'gen48' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item49">{% trans 'gen49' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item50">{% trans 'gen50' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item51">{% trans 'gen51' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item52">{% trans 'gen52' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item53">{% trans 'gen53' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item54">{% trans 'gen54' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item55">{% trans 'gen55' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item56">{% trans 'gen56' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item57">{% trans 'gen57' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item58">{% trans 'gen58' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item59">{% trans 'gen59' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item60">{% trans 'gen60' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item61">{% trans 'gen61' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item62">{% trans 'gen62' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item63">{% trans 'gen63' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item64">{% trans 'gen64' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item65">{% trans 'gen65' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item66">{% trans 'gen66' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item67">{% trans 'gen67' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item68">{% trans 'gen68' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item69">{% trans 'gen69' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item70">{% trans 'gen70' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item71">{% trans 'gen71' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item72">{% trans 'gen72' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item73">{% trans 'gen73' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item74">{% trans 'gen74' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item75">{% trans 'gen75' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item76">{% trans 'gen76' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item78">{% trans 'gen78' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item79">{% trans 'gen79' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item80">{% trans 'gen80' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item81">{% trans 'gen81' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item82">{% trans 'gen82' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item83">{% trans 'gen83' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item84">{% trans 'gen84' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item85">{% trans 'gen85' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item86">{% trans 'gen86' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item87">{% trans 'gen87' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item88">{% trans 'gen88' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item89">{% trans 'gen89' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item90">{% trans 'gen90' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item91">{% trans 'gen91' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item92">{% trans 'gen92' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item93">{% trans 'gen93' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item94">{% trans 'gen94' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item95">{% trans 'gen95' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item96">{% trans 'gen96' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item97">{% trans 'gen97' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item98">{% trans 'gen98' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item99">{% trans 'gen99' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item100">{% trans 'gen100' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item101">{% trans 'gen101' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item102">{% trans 'gen102' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item103">{% trans 'gen103' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item104">{% trans 'gen104' %}</label>
                        </li>
                        <li class="li-selector">
                            <label for="item105">{% trans 'gen105' %}</label>
                        </li>
                    </ul>
                </details>
            </div>
        </form>
    </div>

    <div class="kekka-tango-main">
        <h1>{{ word }}</h1>
    <div style="width: 950px; height: 1px; margin-top: 5px; margin-bottom: 5px; border-top-color: #cccccc; border-top-width: 1px; border-top-style: solid;"></div>
        <p class="tango-kekka">{{ word_translation }}</p>
    </div>

    <div>
        <form class="modoru" action="/">
            <div>
                <button style="margin-left: 15px; padding: 20px" type="submit" class="btn"><span>{% trans 'hoka_btn' %}</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}