{% extends 'dictionary/base.html' %}
{% load i18n %}
{% load gtranslate %}
{% block tango %}
<div>
    <div class="header">
        <h1 class="header1">{% trans 'tango' %}</h1><br>
        <h2 class="header2">{% trans 'ni_ei_pe' %}</h2>
    </div>

    <div class="top-setsumei">
        <p style="line-height: 1; font-size: 32px">{% trans 'niei_gen_setsu1' %}</p>
        <li style="font-size: 22px">{% trans 'niei_gen_setsu2' %}</li>
        <li style="font-size: 22px">{% trans 'niei_gen_setsu3' %}</li>
        <li style="font-size: 22px">{% trans 'niei_gen_setsu4' %}</li>
    </div>

    <form action="tango_kekka_nihongo_eigo" method="get">
        <div class="word-input">
            <input style="width: 700px" type="text" name="text" placeholder="{% trans 'tan_nyu' %}">
            <button type="submit" class="btn"><span>{% trans 'tan_btn' %}</span></button>
        </div>

        <div class="selector">
            <details>
                <summary>
                    <input type="radio" name="lang" id="default" title="{% trans 'bun_check' %}" checked>
                    <input type="radio" name="lang" id="item46" title="{% trans 'gen46' %}" value="ja">
                    <input type="radio" name="lang" id="item22" title="{% trans 'gen22' %}" value="en">
                </summary>
                <ul class="ul-selector">
                    <li class="li-selector">
                        <label for="item46">{% trans 'gen46' %}</label>
                    </li>
                    <li class="li-selector">
                        <label for="item22">{% trans 'gen22' %}</label>
                    </li>
                </ul>
            </details>
        </div>
    </form>

    <div>
        <form class="modoru" action="/">
            <div>
                <button style="margin-left: 22px; padding: 20px" type="submit" class="btn"><span>{% trans 'hoka_btn' %}</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}